/*-----------------*/
/*FUENTES*/
/*-----------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

/*------------------------------*/
/*R E S E T*/
/*------------------------------*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
input, button, textarea, select{
    font: inherit; 
}*/

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
}

/*-----------------*/
/*VARIABLES*/
/*-----------------*/

:root {
  --color-1: #0009;
  --color2: #fff9;
  --font-fm: Poppins, sans-serif;
}

/*--------------*/
/*GENERAL*/
/*--------------*/

body {
  color: var(--color2);
  font-family: var(--font-fm);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;

  nav {
    position: fixed;
    top: 20px;
    left: 20px;

    a:is(:link, :visited) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;

      svg {
        opacity: 0.7;
        transition: all 0.4s ease-in;
        width: 24px;
      }
    }

    a:is(:hover) svg {
      opacity: 1;
    }

    a:is(:hover) {
      transform: scale(1.05);
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      h1 {
        font-size: 4rem;
        font-weight: 200;
      }

      h2 {
        font-size: 2rem;
        font-weight: 500;
      }

      h3 {
        border-radius: 20px;
        font-weight: 500;
        background-color: var(--color-1);
        color: var(--color2);
        padding: 4px 12px;
        font-weight: 500;
      }

      img {
        border: solid var(--color2) 0.2em;
        border-radius: 400px;
        height: 150px;
        object-fit: cover;
        width: 150px;
      }
    }

    menu {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;

      a:is(:link, :visited) {
        align-items: center;
        color: var(--color2);
        background-color: #000000;
        border-radius: 10px;
        display: flex;
        gap: 1rem;
        justify-content: start;
        text-decoration: none;
        transition: all 0.4s ease-in;
        width: 200px;

        span {
          background-color: grey;
          display: flex;
          width: 40px;
          color: #000000;
          height: 40px;
          border-radius: 10px 0 0 10px;
          justify-content: center;
          align-items: center;
          transition: all 0.4s ease-in;
        }
      }
      a.inactive {
        opacity: 0.5;
        pointer-events: none;
      }

      a:is(:hover) span {
        width: 60px;
      }
    }

    section {
      background-color: var(--color2);
      width: 440px;
      color: #ffffff;
      padding: 1rem;

      h3 {
        color: #000000;

        margin-bottom: 1rem;
      }

      p {
        font-size: 1.4rem;
        color: rgb(0, 0, 0);
      }

      xmp {
        background-color: #000000;
        border-radius: 4px;
        padding: 10px 10px 20px 10px;
      }
    }
  }
}

/*---------------------- PHP ---------------------- */

body.php {
background-color: #0B126F;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%235E63A0'/%3E%3Cstop offset='1' stop-color='%230B126F'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23212AFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23212AFF' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;

  header {
    h1 {
      color: #fff;
    }

    h2 {
      color: #fff;
      max-width: 75%;
      border-radius: 6px;
      width: 100%;
      text-align: center;
    }
    img {
      border: none;
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
  section{
    color: #000;
  }
  
  p {
    font-size: 1.4rem;
  }

  menu {
    a:is(:link, :visited) {
        background-color: #dad4d4b7;
        font-weight: 800;
        color: #000;

      span {
        background-color: #334abe;
        font-weight: 800;
        color: #fff;
      }
    }
  }
}
